p{
    color: blue;
}

h1{
    color: yellow;
}

.food {
    color: red;
}

.person {
    color: gold;
}

.background-green {
    background-color: green;
}

#css-h2 {
    color: aqua;
    background-color: gray;
}

#id-1, .class-1 {
    background-color: aqua;
}

* {
    background-color: bisque;
}

ul a {
    color: red;
    background-color: bisque;
}

[type] {
    background-color: gray;
}

[href] {
    background-color: gainsboro;
}

/* 滑鼠滑到h1的地方 */
h1:hover {
    background-color: gray;
}

p:hover {
    background-color: gray;
}

#id-1:hover {
    background-color: white;
}

[type]:hover {
    background-color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    height: 400px;
    border: 1px solid red;
    justify-content: center;
    
}

.container div {
    border: 1px solid black;
    padding: 10px;
    width: 100px;
}

.box-1 {

}

.box-2 {
    
}

.box-3 {
    
}